.of-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex: 1;
	flex-direction: column;
	align-items: center;
	color: blueviolet;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}

@media screen and (min-width: 950px) {
	.of-container {
		flex: 2;
	}
	.chat-container .of-container {
		flex: 1;
	}
}

.of-container ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

li {
	list-style: none;
}

.of-container hr {
	border-top: 4px solid blueviolet;
	width: 80%;
}
/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: blueviolet;
	border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #444;
}

.sidebar-title {
	font-weight: 700;
	font-size: calc(1vw + 8px);
	padding: 1.5vw;
}

ul {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: calc(1vw + 15px);
}
.of-container .rightbar-hr {
	width: 30%;
	margin: 0;
}
.rightbar-heading {
	margin-top: 2vh;
}
.rightbar-hr {
	width: 30%;
}
