.feed-container {
	display: flex;
	flex: 2;
	height: calc(100vh - 50px);
	width: 100%;
	flex-direction: column;
	align-items: center;
	position: relative;
}

@media screen and (min-width: 950px) {
	.feed-container {
		flex: 3;
	}
}

#nopost-span {
	font-size: 2.4vw;
	color: black;
	line-height: 100px;
	font-variant: small-caps;
	font-weight: 700;
}
#nopost {
	font-weight: 900;
	font-size: 5vw;
	margin-top: 4vh;
	opacity: 0.4;
	width: 100%;
	text-align: center;
}

#nopost hr {
	width: 90%;
	border: 3px solid white;
	margin: auto;
}

.feed-container hr {
	width: 100%;
	border-top: 1px solid white;
}

.createPostBtn {
	bottom: 0;
	width: 35%;
	display: flex;
	justify-content: center;
	left: 0%;
	padding: 1.5vh 1vw;
	font-size: calc(4px + 0.9vw);
	font-weight: 700;
	position: absolute;
	z-index: 2;
	outline: none;
	border: none;
	background-color: white;
	border: 4px solid slateblue;
	box-shadow: 0 0 1vw 0.1vw slateblue;
	align-self: center;
	margin: 1vh 2vw;
	color: slateblue;
	border-radius: 10px;
	display: flex;
	align-items: center;
}
.createPostBtn:hover {
	box-shadow: 0px 0px 10px 0px white;
}
.createPostBtn:active {
	box-shadow: none;
	transform: scale(0.99);
}

.postListContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5vw;
	overflow-y: scroll;
}
.circular {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
