.post-container {
	margin-bottom: 6vh;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	background-color: white;
	color: blueviolet;
	padding: 1vw;
	border-radius: 5px;
}
@media screen and (min-width: 950px) {
	.post-container {
		width: 90%;
		border-radius: 2vw;
	}
}
.post-container img {
	z-index: 1;
	position: relative;
	padding: 1vw;
	width: 100%;
	border-radius: 3vw;
}

.post-bottom {
	padding: 1vw;
	margin: 0 2.5%;
	background-color: slateblue;
	display: flex;
	flex-direction: row;
	width: 95%;
	border-radius: 15px;
	align-items: center;
	justify-content: flex-end;
}

.description {
	padding: 0 2vw;
	font-size: calc(8px + 0.8vw);
	font-weight: 500;
	font-variant: small-caps;
	color: white;
	flex: 2;
}
.post-buttons {
	flex: 1;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.username {
	font-weight: 700;
}

.top-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 1vw;
}

.time {
	font-weight: 600;
	font-size: small;
}
