#modal .modal {
	pointer-events: all;
	width: 100%;
	height: 100%;
	background-color: transparent;
	backdrop-filter: blur(15px) brightness(70%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal .authContainer {
	overflow-y: scroll;
}

.modal .authContainer::-webkit-scrollbar {
	display: none;
}
.fileChoose {
	text-align: center;
}

textarea {
	font-size: small !important;
	line-height: 1.5 !important;
	height: 100%;
}
.textarea-container {
	width: 100%;
	height: 120%;
	padding: 25px 0;
}
.modal .fieldContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.modal .gapped {
	height: 10vh;
	width: 50%;
	position: relative;
}
.modal .gapped::after {
	content: "Upload File";
	color: steelblue;
	font-weight: 500;
	font-size: small;
	pointer-events: none;
	position: absolute;
	z-index: 1; /*modal level 1*/
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 10px;
}
.modal .gapped :hover {
	box-shadow: 0 0 20px 0px white;
}
