.capsule-container .profileContainer {
	margin: 0 0.5vw;
	display: flex;
	flex: 1;
}

.capsule-container .profileContainer img {
	width: 30px;
	height: 30px;
	box-sizing: content-box;
	border: 3px solid white;
	border-radius: 50%;
}

.capsule-link {
	text-decoration: none;
}
.capsule-container {
	width: 100%;
	height: 45px;
	border-radius: 35px;
	color: white;
	background-color: darkviolet;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1vw 0;
	padding: 1vh 1vh 1vh 0;
	justify-content: space-between;
}

.expanded {
	margin: 0px;
	padding: 0;
}
.expanded .capsule-container {
	border-radius: 35px;
	margin: 4px;
	padding: 0;
}

.capsule-container:hover {
	box-shadow: 0 0 10px 0 slateblue;
}

.friendName {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	text-shadow: none;
	text-decoration: none;
	font-variant: small-caps;
	flex: 6;
	margin-right: 10px;
	font-size: calc(7px + 0.8vw);
}
